/* #cover{
  position: fixed;
  z-index: -1;
  background-color: #ced4da;
  border: 5px solid;
  width: 100%;
  height: 100px;
} */

#navbar-style{
z-index: 3;

}

#navbar2-style {
  top: 8.7%;

  /* border-top: #ced4da 20px solid; */
  z-index: 1;
  /* height: 10%;
transform: translateY(-5%); */
}
.nav-link-Style {
  position: relative;
  font-size: 15px;
}

.nav-link-Style::before {
  opacity: 0;
  transition: all 0.3s;

  content: "";
  height: 5px;
  width: 0%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  z-index: -5;
}

.nav-link-Style:hover::before {
  opacity: 1;
  width: 100%;
}

#nav-aboutMIAA {
  white-space: nowrap;
}

#nav-searchBar {
  min-width: 200px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-organizational {
  white-space: normal;
  font-size: 15px;
}

.dropdown-menu a:hover {
  background-color: #8c92ac;
  color: #fff;
}

.dropdown-menu-end {
  position: absolute;
  right: 50;
  left: auto;
}

#nav-organizational {
  top: 75%;
  left: 100%;
}

#nav-airline {
  top: 0%;
  left: 100%;
}

#nav-terminal {
  top: 13%;
  left: 100%;
}

#nav-img {
  height: auto;
  width: 200%;
  margin-left: -5vw;
  border-radius: 0px;
}

/* logo */
@media screen and (max-width: 991px) {
  #nav-img {
    margin-left: 0vw;
  }
}

@media screen and (max-width: 1300px) {
  #nav-img {
    height: auto;
    width: 180%;
  }
}




.navbar.fixed-top {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.navbar.fixed-top + .navbar.fixed-top {
  margin-top: 56px !important;
}




/*meow*/
